@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply bg-gray-100;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-gray-400/20;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-orange-600/80;
  }
  
  .input {
    @apply px-2 py-3 rounded-md border border-gray-400/30;
  }

  textarea.input {
    @apply resize-none h-32;
  }

  .button {
    @apply bg-orange-600 text-white font-bold py-2 px-4 rounded block md:w-1/2 text-center mx-auto hover:bg-orange-700 transition-colors duration-300 ease-in-out;
  }
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
